<section class=" py-1 bg-blueGray-50">
    <div class="w-full lg:w-8/12 px-4 mx-auto mt-6">
        <div
            class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-100 border-0">
            <div class="rounded-t bg-white mb-0 px-6 py-6">
            </div>
            <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
                <form [formGroup]="formGroup">
                    <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
                        User Information
                    </h6>
                    <div class="grid grid-cols-2">
                      
                        @if (data && data.length) {
                        @for (item of data; track $index) {
                        <div class="flex ">
                            <div class="w-full lg:w-6/12 px-4">
                                <div class="relative w-full mb-3">
                                   
                                    <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlfor="grid-password">
                                        {{item.Field}}
                                    </label>
                                        @if (item.Field === 'id') {
                                                <input type="password" [formControlName]="item.Field" 
                                                    class=" hidden border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ">
                                        }
                                        @else if (item.Field === "gender") {
                                            <select [formControlName]="item.Field"
                                            class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full "
                                            >
                                                @for (y of gender; track $index) {
                                                    <option value={{y}}>{{y}}</option>
                                                } 
                                            </select>
                                        } @else if (item.Field === "country") {
                                            <select [formControlName]="item.Field"
                                                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ">
                                                @for (x of country; track $index) {
                                                <option value={{x}}>{{x}}</option>
                                                }
                                            </select>
                                        }
                                        @else {
                                            <input type="text" [formControlName]="item.Field"
                                                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ">
                                        }
                                </div>
                            </div>
                        
                        </div>
                        }
                        }
                    </div>
                    <hr class="mt-6 border-b-1 border-blueGray-300">
                    <button
                        class="bg-pink-500 text-white active:bg-pink-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150"
                        type="button"
                       (click)="submit()" >
                        Save
                    </button>
                    <hr class="mt-6 border-b-1 border-blueGray-300">
                </form>
            </div>
        </div>
    </div>
</section>